
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-close {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.btn-close:hover {
    background-color: #0056b3;
}
body {
    background-image: url('1723696614149.png');
    background-size: cover; /* Rasmni to'liq ekran qoplash uchun */
    background-position: center; /* Rasmni markazda joylashtirish */
    background-repeat: no-repeat; /* Rasmni takrorlamaslik */
}